<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6">
        <h1>List user</h1>

        <div class="col-md-auto">
            <table>
                <tbody>
                    <tr th:each="user,key : ${users}">
                        <td>Name</td>
                        <td th:text="${user.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>